@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 :root{
  --primary-color:  rgba(242, 250, 250, 0.09);
  --second-color: rgba(31, 115, 115, 0.863);
  --borer-shadow:rgba(0, 0, 0, 0.1);
  --border-color: rgb(221, 221, 221);
  --text-color: rgb(0, 0, 0);
  --shadow-text: rgba(186, 142, 240, 0.209);

 }

*{
  padding: 0%;  
  margin: 0%;
}
body{ 
  background-image: url('images/background.jpg');
  background-size: cover; /* Hace que la imagen cubra todo el body */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* La imagen de fondo permanece fija en la pantalla */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  
}

.nav-pills li a:hover{
  background-color: var(--second-color);
}
.row {
  margin-left: -10px; /* Ajusta según sea necesario */
}

main{
  display: flex;
  flex-direction: row;
  justify-items: center;
}
  

.container-presentation {
  display: flex; 
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50%;
}

.container-center {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: var(--second-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10%;
  padding: 10%;
  
 
}

 .presentation-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:var(--primary-color); /* Color de texto oscuro para legibilidad */
  font-size: 60%;
  gap: 5%;

}

 .pensentation-image {
  mask-image: linear-gradient(
    black 80%,
    transparent
  );
 
  border-radius: 100%;
  width: 50%;
  display: flex;
  flex-direction:row;

}

h1  {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    color: var(--text-color); /* Blanco para el texto */
    font-family: 'Palatino', serif; /* Fuente personalizada */
    text-shadow: 2px 2px 4px var(--shadow-text); /* Sombra de texto */
    justify-content: left;
    font-size: 4rem;
    color: var(--text-color);
            
  }
  

p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color); /* Color de texto oscuro para legibilidad */
    font-size: 1em;
    margin-right: 20px;
    margin-bottom: 20px;
    /* padding: 0 20px; Espaciado interno para separación */
     
  }
strong{
  color: #ffffff;
  font-size: 2em;
  }

footer{
  width: auto;
  display: flexbox;
  flex-direction: row;
}



  @media  (max-width: 1200px){


  }
  