@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Atma:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #0B3948;
  --second-color: #416165;
  --third-color: #acb0bd;
  --four-color: #d0cdd7;
  --fift-color: #d9dbf1;
  --six-color:#d9dbf1;
  --border-color: rgb(221, 221, 221);
  --text-color: #000000;
  --shadow-text: #ba8ef035;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Fondo animado */

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 60px;
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

h2{
  font-size: 50px;
  font-family: "Abril Fatface", serif;
  font-style: normal;
}


/* Navbar */
.nav-bar {
  
  width: 100%;
  height: 10vh;
  padding: 5%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

button-navBar{
  background-color: var(--four-color);
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #ffffffbb;
  border-radius: 50px;
  display: block;
  
}


.welcomeText{
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--fift-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20%;
  
}

#vanta-effect {
  width: 100%;             /* Hace que el contenedor ocupe el 100% del ancho */
  height: 100vh;           /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
  position: absolute;      /* Asegura que el contenedor cubra toda la pantalla */
  top: 0;
  left: 0;
  z-index: -1;             /* Hace que el efecto quede en el fondo detrás del contenido */
}


/*AboutMe*/

.aboutMe{
  width: 100%;
  height: 100vh;
  background-color: var(--four-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 5%;
}

.container-aboutMe{
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.profile-img {
  width: 50%;
  height: 50vh;
  border-radius: 100%;
}


.btn-grad {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 40px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #ffffffbb;
   border-radius: 50px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



.featureProjects{
 background-color: var(--primary-color);
}



/* Contenedor de las tarjetas */
.container-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 5%;
}

/* Tarjetas individuales */
.card {
  background: var(--fift-color);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}

.card img {
  width: 100%;
  height: 10px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: var(--text-color);
}
/* Imágenes del portafolio */
.portfolio-img {
  width: auto;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}


.contactMe{
  background-color: var(--six-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contac-button {
  background-color: #d9dbf1;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 80px;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.contac-button:hover {
  background-color: #c2c4e5;
  transform: scale(1.05);
}

.expirience{
  background-color: var(--primary-color);
  padding: 10% ;
  color: white;
  height: 100vh;
  width: 100%;
}




/* Footer */
.footer {
  background-color:var(--primary-color);
  color: #ecf0f1;
  padding: 2%;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 10px 0;
  font-size: 14px;
}

.social-links {
  margin-top: 10px;
}

.social-link {
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.social-link img {
  width: 30px;
  height: 30px;
}

.social-link:hover {
  transform: scale(1.1);
}

/* 📌 Responsividad */
@media (max-width: 768px) {}
  

@media (max-width: 480px) {}
 